@charset "UTF-8";

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('../webfonts/PretendardVariable.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'SUITE-Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('../webfonts/SUITE-Variable.ttf') format('truetype');
}

*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #3873AB; letter-spacing: -0.5px; font-family: 'Pretendard Variable';}
p{color: #3873AB; letter-spacing: -0.5px; font-family: 'Pretendard Variable';}

#main{width: 100%; height: 100vh;}
#main .mainimg{width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: -2; filter: brightness(0.9) contrast(0.8);}
#main .mainimg img{width: 100%; height: 100%; object-fit: cover;}
#main .topwrap{width: 100%; height: 90px;}
#main .topwrap.on{background-color: #fff;}
#main .top{display: flex; flex-direction: row; width: 95%; max-width: 1600px; margin: 0 auto; justify-content: space-between; align-items: center; height: 90px; }
#main .top a{color: #fff;}
#main .toplogo img{width: 248px; height: 45px; vertical-align: middle; position: relative; z-index: 999;}
#main .top .gnb{display: flex; flex-direction: row; width: 768px; justify-content: space-between; padding: 0 80px 0;}
#main .top .gnb>li>a{font-size: 24px; display: inline-block;}
#main .top .gnb>li>a.on{color: #3873AB;}
#main .top .right{display: flex; flex-direction: row;width: 180px; justify-content: space-between;}
#main .top .right .login{display: flex; flex-direction: row; gap: 20px;align-items: center;}
#main .top .right .login a{display: inline-block; font-size: 14px; color: #fff;}
#main .top .right .login a.on{color: #3873AB; }
#main .top .right .src a{display: block; width: 50px; height: 50px;}
#main .top .right .src a img{width: 100%; height: 100%; object-fit: cover;}

#main .input{width: 95%; max-width: 1600px;text-align: center; padding-top: 300px; margin: 0 auto;}
#main .input h1{font-family:'Pretendard-Variable'; font-weight: 500; font-size: 32px; color: #fff; text-shadow: 0 0 6px #333; margin-bottom: 20px;}
#main .input h1 br{display: none;}
#main .input input{width: 400px; height: 55px; border: none; border-radius: 50px; color: #797979; font-family: 'SUITE-Variable'; text-align: center; font-size: 22px; box-shadow: inset 0 0 15px #ddd;}

#main .resv{display: flex; width: 95%; max-width: 1200px; margin: 0 auto; margin-top: 150px;}
#main .resv li{text-align: center; flex: 1 1 30%; display: flex; flex-direction: column;}
#main .resv li a:nth-child(2){color: #fff; font-size: 55px;text-shadow: 0 0 6px #333;}

#main .subbg{position: absolute ; width: 100%; height:0; left: 0; top: 90px; transition: 0.3s;}
#main .subbg.on{height:300px; background-color: #fff;}
#main .gnb .sub{display: flex; width: 95%; max-width: 1520px; height: 0; position: absolute; left: 50%; transform: translateX(-50%); top: 90px;  overflow: hidden;}
#main .gnb .sub.on{height: 300px; overflow: visible;}
#main .gnb  .sub .number{width: 410px;}
#main .gnb .sub a{font-size: 18px; line-height: 30px;}

#main .gnb .sub .submenu{display: flex; flex-direction: column;}
#main .gnb .sub .submenu>li{display: flex; flex-direction: row; column-gap: 20px; width: 928px;}
#main .gnb .sub .submenu a{font-weight: 500;}

#main .gnb .sub .submenu>li>a{color: #000; display: inline-block; width: 150px; height: 40px;}
#main .gnb .sub .submenu>li .sublist{display: flex; flex-direction: row; column-gap: 20px;}
#main .gnb .sub .submenu>li .sublist>li:hover a{color: #3873AB; font-weight: bold;}
#main .gnb .sub .submenu>li .sublist a{color: #797979; display: inline-block;}



#second{width: 100%; height: 100vh; padding-bottom: 50px;}
#second .secondwrap{width: 100%; max-width: 1600px; margin: 0 auto;}
#second .sqwrap{width: 100%; display: flex; flex-direction: row; justify-content: left; padding-top: 100px; column-gap: 50px;}
#second .slide{width: 50%;}
#second .slide .swiper {width: 100%;height: 100%;}
#second .slide .swiper-slide {width: 100%;height: 100%;display: flex; justify-content: center; align-items: center;}
#second .slide .swiper-wrapper{width: 100%; height: 100%; }
#second .slide.swiper-slide img {width: 100%; height: 100%; object-fit: cover;}
.swiper-button-next{background-color: rgba(255,255,255,0.8);  border-radius: 50%; padding: 0 9px; transform: scale(0.8)  translateX(-70px);}
.swiper-button-prev{background-color: rgba(255,255,255,0.8);border-radius: 50%;transform:scale(0.8) translateX(70px);padding: 0 9px; }
.swiper-button-next::after{color: #3873AB; left: 0; top: 0;transform: scale(0.4);}
.swiper-button-prev::after{color: #3873AB; left: 0; top: 0;transform: scale(0.4) }
.swiper-pagination-bullet{background-color: #ddd; transform: translateY(-20px);}
.swiper-pagination-bullet-active{background-color: #fff;}
#second .quick .quicksrc{width: 100%; height: 120px; text-align: left;}
#second .quick .quicksrc input{width: 70%; height: 55px; border-radius: 40px; border: none; box-shadow: inset 0 0 15px #ddd;}
#second .quick .quicksrc img{width: 10px; height: 15px; vertical-align: middle;}
#second .quick .quicksrc h2{font-size: 36px; font-family: 'Pretendard-Variable'; padding-bottom: 20px;}
#second .quick .quickmenu{width: 100%; height: 280px; display: flex; flex-direction: row; flex-wrap: wrap; text-align: center;margin-top: 30px; }
#second .quick .quickmenu>li{flex: 1 1 25%; height: 50%;}
#second .quick .quickmenu>li p:first-child{height: 70%; display: flex; justify-content: center; align-items: center; }
#second .quick .quickmenu>li p:nth-child(2){line-height: 30px; font-size: 18px; color: #000;}

#second .notice {width: 100%; height: 220px;}
#second .notice h1{font-size: 36px; font-family: 'PretendardVariable'; text-align: center; padding: 60px 0 40px}
#second .notice span img{width: 10px; height: 15px; vertical-align: middle;}
#second .notice .noticelist{display: flex; flex-direction: row; justify-content: space-around;}
#second .notice .noticelist li{width: 480px; height: 140px; box-shadow: 0 0 15px #ddd; border-radius: 40px; position: relative; background-color: #fff;}
#second .notice .noticelist li::after{content: ""; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);width: 100%; height: 100%;padding: 5px; background: linear-gradient(90deg, rgba(56,115,171,1) 0%, rgba(164,211,255,1) 52%, rgba(0,212,255,1) 100%); border-radius: 43px; z-index: -1; opacity: 0; transition: 0.4s;}
#second .notice .noticelist li:hover::after{opacity: 1;}
#second .notice .noticelist li a{display: block; width: 100%; height: 100%;;display: flex; flex-direction: column; box-sizing: border-box; }
#second .notice .noticelist li .title{width: 70%;;height: 80%;color: #000; padding: 20px 0 0 25px; font-size: 20px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
#second .notice .noticelist li .date{text-align: right;color: #000;  font-family: 'SUITE-Variable'; padding: 0 25px 20px 0;}

#third{width: 100%; height: 100vh;}
#third .thirdwrap{display: flex; flex-direction: row;justify-content: space-between; width: 95%; max-width: 1600px; margin: 0 auto;}
#third .thirdwrap > div{flex: 0 0 50%; text-align: center;}
#third .thirdwrap .left{display: flex; flex-direction: column; gap: 5%; justify-content: center; position: sticky; left: 5%; top: 19%; height: 100%; }
#third .thirdwrap .left h1{font-size: 60px; color: #ccc; letter-spacing: -4px; line-height: 75px; margin-bottom: 80px;}
#third .thirdwrap .left span{color: #3873AB;}
#third .thirdwrap .left .sns{flex-wrap: wrap; width: 470px; margin: 0 auto;}
#third .thirdwrap .left .sns li{border-radius: 40px; padding: 15px 15px; background-color: #fff; box-shadow: 0 0 15px #ddd;
	margin: 8px;display: inline-block; cursor: pointer; position: relative;}
	#third .thirdwrap .left	.sns li::after{content: ""; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; background: linear-gradient(90deg, rgba(56,115,171,1) 0%, rgba(164,211,255,1) 52%, rgba(0,212,255,1) 100%); border-radius: 43px; z-index: -1; opacity: 0; transition: 0.5s; opacity: 0; transition: 0.4s; padding: 4px;}
	#third .thirdwrap .left	.sns li:hover::after{opacity: 1;}
#third .thirdwrap .left .sns li a{display: inline-block;display: flex; flex-direction: row; padding: 0 5px;}
#third .thirdwrap .left .sns li p{font-size: 20px; font-family: 'SUITE-Variable'; color: #000;}
#third .thirdwrap .left .sns li p:nth-child(1){width: 28px; height: 28px; margin-right: 10px;}
#third .thirdwrap .left .sns li p:nth-child(1) img{width: 100%; height: 100%; object-fit: cover;}
#third .thirdwrap .left .sns li:first-child p:nth-child(2){width: 86px; height: 23px;}
#third .thirdwrap .left .sns li:first-child p:nth-child(2) img{width: 100%; height: 100%; object-fit: contain;}

#third .right{width: 100%; height: 100%;}
#third .right .contents{width: 100%; height: 100%;display: flex; flex-direction: row; flex-wrap: wrap; transform: translateY(100px);}
#third .right .contents li{width: 287px; height: 290px; box-shadow: 0 0 15px #ddd; box-sizing: border-box; margin: 30px 30px;}
#third .right .contents li:nth-child(odd){transform: translateY(100px);}
#third .right .contents li a{display: block; width: 100%; height: 100%;}
#third .right .contents li p:nth-child(1){width: 287px; height: 200px;;}
#third .right .contents li p:nth-child(1) img{width: 100%; height: 100%; object-fit: cover;}
#third .right .contents li .category{font-size: 18px; color: #797979; text-align: left; padding: 10px 0 5px 10px;}
#third .right .contents li .title{font-size: 20px; color: #000;text-align: left; padding-left: 10px;}

#fourth{width: 100%; height: 100vh;}

#main .top .hdmenu{z-index: 9; display: none;}
#main .top .hdmenu .menu{width: 60px; height: 60px; }
#main .top .hdmenu .close{display: none; width: 60px; height: 60px; transition: 1s;}
#main .top .hdmenu .close.on{transform: rotate(360deg);}
#main .top .hdmenu img{object-fit: contain; width: 100%; height: 100%; }

#main .topwrap .hdgnbwrap{width: 100%;height: 100vh; display: none; position: absolute; left: 0; top: 0;}
#main .topwrap .hdgnb{width: 100%;height: 100%;background-color: #fff; display: flex;flex-direction: row; padding: 90px 50px 0 50px;}
#main .topwrap .hdgnb>li{flex: 0 0 50%;}
#main .topwrap .hdgnb>li>ul{width: 100%;}
#main .topwrap .hdgnb>li>ul>li{display: flex; flex-direction: column;}
#main .topwrap .hdgnb .number p{font-size: 28px;}
#main .topwrap .hdgnb .number h2{font-size: 50px;}
#main .topwrap .hdgnb>li>ul>li>a{font-size: 70px; display: inline-block; position: relative; z-index: 999; line-height: 100px;}
#main .topwrap .hdgnb>li>ul>li>a::before{content: url(../images/down.svg); position: absolute; left: 250px; top: 62%; transform: translateY(-50%); width: 100%; height: 100%;}
#main .topwrap .hdgnb>li>ul>li>a:hover::before{content: url(../images/down_on.svg); }
#main .topwrap .hdgnb>li>ul>li .submenu{display: none;}
#main .topwrap .hdgnb>li>ul>li .submenu>li{width: 50%;}
#main .topwrap .hdgnb>li>ul>li .submenu a{color: #797979; line-height: 30px;}
#main .topwrap .hdgnb>li>ul>li .submenu a:hover{font-weight: bold;}
#main .topwrap .hdgnb>li>ul>li .submenu>li>a{font-size: 20px; color: #000;}
#main .topwrap .hdgnb>li>ul>li .submenu .sublist{font-size: 18px; color: #797979;}
#main .topwrap .hdgnb>li>ul>li .submenu .sublist a:hover{color: #3873AB;}
#main .hdgnb a{color: #3873AB;}
#main .hdgnb p{color: #797979;}

@media screen and (max-width: 1600px){
	#main .topwrap{width: 100%; margin: 0 auto;}
	#main .top{width: 95%; max-width: 1280px; margin: 0 auto;}
	#main .top .gnb>li>a{font-size: 22px;}
	#main .resv{width: 95%; max-width: 1200px; margin: 0 auto; margin-top: 120px;}
	#main .gnb .sub{width: 95%; max-width: 1280px;}
	#main .gnb  .sub .number{width: 328px;}
	#second .secondwrap{width: 95%; max-width: 1280px;}
	#second .notice {width: 100%; height: 220px;}
	#second .notice .noticelist li:last-child{display: none;}
	#second .notice .noticelist li{width: 565px;}
	#third .thirdwrap{width: 95%; max-width: 1280px;}
	#third .right .contents li{margin: 5px; transform:scale(0.9);}
	#third .right .contents li:nth-child(odd){transform: scale(0.9) translateY(100px);}
}

@media screen and (max-width: 1280px){
	#main .top .hdmenu{display: block;}
	#main .top{width: 95%; max-width: 992px;}
	#main .top .gnb{display: none;}
	#main .top .right{display: none;}
	#main .resv li a:nth-child(2){font-size: 40px; margin-top: 15px;}
	#second{height: auto;}
	#second .secondwrap{width: 95%; height: 1300px;max-width: 992px; box-sizing: content-box; padding-bottom: 100px;}
	#second .secondwrap .sqwrap{flex-direction: column;}
	#second .secondwrap .sqwrap .slide{width: 100%;;}
	#second .secondwrap .quick{display: flex; flex-direction: column; padding-top: 20px;}
	#second .secondwrap .quicksrc{display: flex; flex-direction: row; justify-content: center; gap: 20px; align-items: center;}
	#second .secondwrap .quicksrc h2{padding: 0;}
	#second .secondwrap .quicksrc input{width: 50%;}
	#second .notice .noticelist li{width: 90%;}
	#second .notice .noticelist li:nth-child(2){display: none;}
	#second .notice .noticelist li .title{font-size: 30px;}
	#third .thirdwrap{width: 95%; max-width: 992px;}
	#third .thirdwrap .left{left: 10%; top:18%; transform: scale(0.9); text-align: center;}
	#third .right .contents{flex-direction: column;transform: none; align-items: center;}
	#third .right .contents li{margin: 20px;transform: scale(1);}
	#third .right .contents li:nth-child(odd){transform: scale(1) translateY(0);}

	@media screen and (max-width: 992px){
		#main .top{width: 95%; max-width: 768px;}
		#second .secondwrap{width: 95%; max-width: 768px; padding-bottom: 70px;}
		#second .secondwrap .quick{padding: 40px 0 50px;}
		#second .secondwrap .quicksrc{flex-direction: column;}
		#second .secondwrap .quicksrc input{width: 80%;}
		#third .thirdwrap{width: 95%; max-width: 768px; flex-direction: column;}
		#third .thirdwrap .left{position: relative; left: 0; top: 0;}
		#third .thirdwrap .left h1{margin-bottom: 40px;}
		#third .right .contents{flex-direction:row; flex-wrap: wrap; justify-content: center;}
	}

	@media screen and (max-width: 768px){
		#main .input h1 br{display: block;}
		#main .resv li a:nth-child(2){font-size: 28px;}
		#main .topwrap .hdgnb .number p{font-size: 18px;}
		#main .topwrap .hdgnb .number h2{font-size: 28px;}
	#main .topwrap .hdgnb>li>ul>li>a{font-size: 36px; line-height: 70px;}
	#main .topwrap .hdgnb>li>ul>li>a::before{left: 120px; top: 0; width: 10%; height: 10%;}
	#second .quick .quickmenu{width: 90%; height: 450px; display: flex; flex-direction: row; flex-wrap: wrap; margin: 0 auto; justify-content: center; padding-top: 40px; padding-bottom: 0;}
#second .quick .quickmenu>li{flex: 0 0 40%; height: 100px;}
#second .quick .quickmenu>li p:first-child{height: 80px; }
#second .quick .quickmenu>li p:nth-child(2){line-height: 30px; font-size: 18px; color: #000;}
#second .notice h1{padding-top: 0;}
#third{padding-top: 100px;}
	}

